:root {
    --primary: #777c96;
    --secondary: #c4b3b9;
    --tertiary: #4b3a40;
    --background-primary: #ebebff;
    --text-primary: #070709;
    --accent: #af9c97;
    --black: #000;
    --white: #fff;
  }